/*-------------------------------
   Header Section
--------------------------------*/
#header .col-md-9{
   padding-left: 0px;
   padding-right: 2px;
}
#header .col-md-9 #background_img{
   height:100%;
   width: 100%;
}
#header .col-md-3{
   padding-left: 0px;
   padding-right: 0px;
}

#header .col-md-3 img{
   width: 100%;
}
#header .img2{
   padding-top: 2px;
}
.centered {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
#header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
   text-shadow: 2px 2px 2px #000000;
}
#header .col-md-9 a{
   font-family: 'Roboto', sans-serif;
   color:#fff;
   border:1px solid #fff;

}
#header .donate-button-container{
   text-align: center;
   background-color: #04A65C;
   padding: 5%;
   margin-top: 2px;
   border-radius: 8px;
}

#header .button-header{
   width: 100%;
   margin: 50px 0px 30px 0px
}
#header .button-header h3{
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   color:white;
}
form .donate-button{
   margin-bottom: 30px;
   width: 210px;
}
form .donate-button:hover{
   cursor: pointer;
}

/* ------ | Mobile Phone |------- */
@media screen and (max-width: 415px){

   #header .row .col-md-9{
      padding-right: 0px;
   }
   #header .col-md-9 .centered img{
      width:80px;
   }
   #header .col-md-9 .centered h1{
      font-size: 25px;
      text-shadow: 1px 1px 1px #000000;
   }
   #header .col-md-3 img{
      display:none;
   }
   #header .button-header h3{
      font-size: 25px;
   }
   form .donate-button{
      width: 200px;
   }
}

/*--------------------|  Tablet |----------------------- */
@media screen and (min-width: 768px) and (min-height: 1024px){

   form .donate-button{
      width: 150px;
   }
   #mission #card_content h4 {
      font-size: 15px;
   }
   #mission #card_content i {
      font-size: 35px;
   }

}
/*------------- |  Mobile Device Horrizontal |--------------- */
@media screen and (min-height: 320px) and (max-width: 736px){

   #header .row .col-md-9{
      padding-right: 0px;
   }
   #header .col-md-3 img{
      display:none;
   }


}
@media screen and (min-width: 812px) and (max-width: 823px){

   form .donate-button{
      width: 150px;
   }
   #mission #card_content h4 {
      font-size: 15px;
   }
   #mission #card_content i {
      font-size: 35px;
   }
}

/*-------------------------------
   Mission Section
--------------------------------*/
#mission{
   padding-top:80px;
   padding-bottom:80px;
   margin-bottom: 30px;
}
#mission .card-group .col-md-3{
   padding-right:0px;
   padding-left:0px;
}
#mission_header{
   margin-bottom:45px;
}
#mission_header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
}
#mission_header p{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 22px;
}
#card_content .card-img-overlay{
   top: 20%;
   max-height: 265px;
}
#card_content h4{
   font-family: 'Roboto', sans-serif;
   font-size: 30px;
   font-weight: 900;
   color:#e2e2e2;
}
#card_content i{
   color:#e2e2e2;
   font-size: 85px;
   border-radius: 50%;
   padding:25px;
   border: 2px solid #e2e2e2;
}
#card_content .card-img-top{
   filter: brightness(40%) grayscale(100%);
   transition: filter 0.8s;
}
#card_content .col-md-3:hover .card-img-top{
   filter: brightness(100%) grayscale(0%);
}

@media screen and (max-width: 415px){
   #mission_header h1{
      font-size: 32px;
   }
   #mission_header p{
      font-size:16px;
   }
}


/*-------------------------------
   Footer Section
--------------------------------*/
footer{
   padding-left: 0px!important;
   padding-right: 0px!important;
}
footer #footer_background{
   padding-top: 20px;
}
#footer_content{
   background-color:#eee;
   padding-top: 40px;
   padding-bottom: 20px;
}
#footer_content img{
   width:170px;
   height:170px;
}
#footer_content a{
   font-family: 'Roboto', sans-serif;
   color: #333;
   font-size: 18px;
}
#footer_social_media{
   background-color: #eee;
   padding-top: 20px;
   padding-bottom: 25px;
}
#footer_social_media .col-md-10{
   border-top: 1px solid #333;
   padding-top: 25px;
}
#footer_social_media .col-md-10 .fab{
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
#footer_social_media .fab:hover {
   opacity: 0.7;
}
#footer_social_media .fa-facebook {
   background: #3B5998;
   color: white;
}
#footer_social_media .fa-twitter{
   background: #55ACEE;
   color: white;
}
#footer_social_media .fa-google {
   background: #dd4b39;
   color: white;
}
#footer_social_media .fa-instagram {
   background: #125688;
   color: white;
}
#footer_middle li{
   list-style: none;
   margin-left: 20%;
   margin-bottom: 1rem;
}
#footer_copyright{
   background-color:#333;
   padding-top: 15px;
}
#footer_copyright p{
   font-family: 'Roboto', sans-serif;
   color:#eee;
   font-size: 12px;
}

@media screen and (max-width: 415px){

   /* #footer_content #mobile{
      display:none;
   } */
   #footer_content img{
      width: 85px;
      height: 105px;
      margin-top: 30%;
   }
   #footer_middle li{
      margin-left: 0px;
   }

}
