/*-------------------------------
   Header Section
--------------------------------*/
#header img{
   width: 100%;
}
#header .col-md-8 img{
   height:100%;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
#header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
}
#header .btn{
   font-family: 'Roboto', sans-serif;
}

/*-------------------------------
   Mission Section
--------------------------------*/
#mission{
   padding-top:80px;
}
#mission .card-group .col-md-3{
   padding-right:0px;
   padding-left:0px;
}
#mission_header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
}
#mission_header p{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 22px;
}
#card_content h4{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 30px;
   color:white;
}
#card_content a{
   color:white;
   font-size: 85px;
}

/*-------------------------------
   Role Section
--------------------------------*/
#role{
   padding-top:80px;
   padding-bottom:80px;
}
#role_section_header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
}
#role_section_header p{
   font-family: 'Roboto', sans-serif;
   font-size: 22px;
}
#role_section_content i{

}
#role_section_content p{
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
}
#role_section_content .btn{
   font-family: 'Roboto', sans-serif;
}

/*-------------------------------
   Values Section
--------------------------------*/
#values{
   background-image: url('../images/values_section1.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top:80px;
   padding-bottom:80px;
}
#values_header h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
   color:white;
}
#values_header p{
   font-family: 'Roboto', sans-serif;
   font-size: 25px;
   color:white;
}
#values_content h2{
   font-family: 'Roboto', sans-serif;
   color: white;
   font-size: 40px;
}
#values_content p{
   font-family: 'Roboto', sans-serif;
   color:white;
   font-size: 22px;
}

/*-------------------------------
   Sponsors Section
--------------------------------*/
#sponsors{
   padding-top:80px;
   padding-bottom:80px;
}
#sponsors img{
   width:100%;
}
#sponsors h1{
   font-family: 'Roboto', sans-serif;
   font-weight:900;
   font-size: 50px;
}

/*-------------------------------
   Footer Section
--------------------------------*/
footer{
   background-image: url('../images/footer_section1.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-left: 0px!important;
   padding-right: 0px!important;
}
footer #footer_background{
   background-color: rgba(0, 0, 0, 0.5);
   padding-top: 20px;
}
#footer_content a{
   font-family: 'Roboto', sans-serif;
   color:white;
}
#footer_copyright p{
   font-family: 'Roboto', sans-serif;
   color:white;
}
