
/*-------------------------------
   Mission Section
--------------------------------*/
#mission{
   padding-top:80px;
   padding-bottom:80px;
}
#mission .card-group .col-md-3{
   padding-right:0px;
   padding-left:0px;
}

/*-------------------------------
   Role Section
--------------------------------*/
#role{
   padding-top:80px;
   padding-bottom:80px;
}

/*-------------------------------
   Values Section
--------------------------------*/
#values{
   background-image: url('../images/values_section1.jpeg');
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   padding-top:80px;
   padding-bottom:80px;
}
